<h1>My Cocktails</h1>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path(cocktail.photo) %>')">
          <div class="card-description">
            <p><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
          </div>
        </div>
      </div>

      <% end %>
    </div>
  </div>
</div>


<p><%= link_to "Add a Cocktail", new_cocktail_path %></p>
</div>
<a class="card-link" href="#" ></a>
</div>
